@font-face {
  font-family: "PokemonSolid";
  src: local("Pokemon Solid"),
    url("./fonts/PokemonSolid.ttf") format("truetype");
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  touch-action: none;
}

.title {
  position: fixed;
  top: 0;
  left: 15px;
  font-family: PokemonSolid;
}

.title h1,
.title h2 {
  margin: 0;
  padding: 0;
  position: absolute;
}

.title h1::selection,
.title h2::selection {
  background: transparent;
}

.title h1 {
  top: -50px;
  font-size: 70px;
  letter-spacing: 5px;
}

.title h2 {
  top: 70px;
  left: 15px;
  font-size: 35px;
  letter-spacing: 3px;
}

.buttons {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
}

button {
  font-size: 30px;
  border: none;
  background: none;
}

.click-counter {
  position: fixed;
  top: 21px;
  right: 65px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  color: #ffffff;
  background-color: rgba(8, 30, 69, 0.8);
  border-radius: 50px;
  padding: 8px 6px;
  border: 1px solid #0c835f;
}

.click-counter div:nth-child(1) {
  width: 33px;
}

.click-counter div::selection {
  background: transparent;
}

.menu-container {
  position: fixed;
  bottom: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

/* main menu*/
.menu ul {
  list-style: none;
  display: inline-flex;
  gap: 3em;
  margin: 0;
  padding: 0;
}

.menu ul li {
  cursor: pointer;
  transition: all 0.4s;
}

.menu ul li:hover {
  transform: translateY(-5px);
}

.menu ul li::after {
  content: "";
  width: 0px;
  height: 3px;
  transition: all 0.3s;
  transform: translateY(10px);
  display: block;
}

.menu ul li svg {
  display: flex;
  width: 45px;
  height: 38px;
}

.menu ul li svg path {
  transform: scale(0.04);
  fill: #f2f2f2;
}
.menu.day ul li svg path {
  transform: scale(0.04);
  fill: #262626;
}

/*active class on menu*/
.menu ul li.active {
  transform: translateY(-5px);
}

.menu ul li.active::after {
  width: 42px;
  background: #0c835f;
  border-radius: 10px;
}

.menu ul li.active svg path {
  fill: #0c835f;
}

/*color menu*/
.color-menu {
  position: absolute;
  border: 2px solid #0c835f;
  bottom: 80px;
  background: rgba(209, 209, 209, 0.77);
  border-radius: 50px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.color-menu ul {
  list-style: none;
  display: inline-flex;
  gap: 3em;
  margin: 0;
  padding: 0;
}

.color-menu ul li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  transition: all 0.3s;
}

.color-menu ul li:last-of-type:hover {
  transform: scale(1);
}

.color-menu ul li:hover {
  transform: scale(1.1);
}

.color-menu ul li:last-of-type {
  font-size: 35px;
  color: #0c835f;
}

/*active class on color menu*/
.color-menu ul li.active:hover {
  transform: scale(1);
}

.color-menu ul li.active::after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50px;
  position: absolute;
  border: 1px solid #0c835f;
}

/*toggle color menu visibility*/
.show {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 500px) {
  .title {
    left: 10px;
  }

  .title h1 {
    top: 10px;
    font-size: 50px;
  }

  .title h2 {
    top: 70px;
    font-size: 27px;
  }

  .color-menu {
    bottom: 70px;
    padding: 15px;
  }

  .color-menu ul {
    gap: 1.9em;
  }

  .color-menu ul li.active::after {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .title {
    left: 10px;
  }

  .title h1 {
    top: 10px;
    font-size: 50px;
  }

  .title h2 {
    top: 70px;
    font-size: 27px;
  }

  .menu-container {
    bottom: 20px;
  }

  .color-menu {
    bottom: 50px;
    padding: 15px;
  }

  .color-menu ul {
    gap: 1.9em;
  }

  .color-menu ul li.active::after {
    width: 60px;
    height: 60px;
  }
}
